
/*css 初始化 */
html,
 body, 
 ul, 
 li,
 ol,
 dl,
 dd, 
 dt, 
 p, 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 form,
 fieldset,
 legend,
 img,
 input {
    margin: 0;
    padding: 0;  /*清除元素的内外边距*/
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;  /*外面环绕线*/
}

ul, ol {
    list-style: none;
}

/*去掉原样式中的小黑点*/


img {
    vertical-align: middle;
    border: 0;
}



table {
    border-collapse: collapse; /*合并外边线*/
}


body {
    font: 12px/150% "microsoft yahei"; 
    color: #a3a3a3;
    background:white;
}

.clearfix:after {
	content: "";
    display: table;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}


a {
    color: #3a3a3a;   /*a 标签是不继承颜色 的*/
    text-decoration: none;
}

a:hover {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

s,
i,
em { 
    font-style: normal;  
    text-decoration: none; 
}

.col-red {
    color: #F10215 !important;/*京东主色调*/
}


.w {
    /*版心 提取 */
    width: 1200px;
    margin: 0 auto;
}










































